.login-container {
    width: 300px;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    background-color: #474747;
    border: 1px solid #474747;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.7);
}

body {
    background-color: rgb(109, 109, 109);
   /* background-image: url('C:\Users\bazhi\Desktop\course\client\app-site\public\i.webp');
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; */
}

.login-container h2 {
    color: #fff;
    text-align: center;
}

.login-container input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid  #e3d5ca;
    border-radius: 5px;
    color: #fff;

}

.registration-link{
    color: rgb(135, 142, 181);
    text-align: center;
    text-decoration: none;
}
.registration-link:hover {
    color: #f0f0f0;
    text-decoration: underline;
    text-align: center;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color:  #7c7c7b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.login-container button:hover {
    background-color: rgb(135, 142, 181);
}


input{
    background-color: rgb(140, 141, 141);
    color:  #fff;
    
}
input::placeholder {
    color: rgb(80, 79, 79); /* Желаемый цвет текста плейсхолдера */
  }